language: python
sudo: required
dist: xenial

before_install:
- sudo apt-get update
- sudo apt-get install socat

python:
  - '3.6'

script: 
  - ./travis-minikube-initialize.sh
  - 'pipenv install --dev'
  - 'docker build -t citus-manager .'
  - 'pipenv run flake8 --ignore=F403,E402 --max-line-length=88 manager/* tests/*'
  - 'pipenv run mypy --ignore-missing-imports manager/* tests/*.py'
  - 'pipenv run pytest -vv -s'
