[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
kubernetes = "*"
flask = "*"
retrying = "*"

[dev-packages]
mypy = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.7"
