[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = ">=2.10.1"
urllib3 = ">=1.24.2"
kubernetes = "==8.0.1"
flask = "*"
retrying = "*"
"psycopg2-binary" = "*"

[dev-packages]
mypy = "*"
black = "==18.9b0"
pytest = "*"
"flake8" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
